body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

.music {
    height: 70px;
    width: 200px;
    margin-left: 50%;
    /* position: fixed; */
    display: flex;
    justify-content: right;
}

/* .aud {
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */

.mus_btn{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    
}

.header{
    height: 100vh;
    /* background-image: url("wed_date-removebg-preview.png"); */
    background-image: url("../source/wed_date-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    padding-top: 30px;
}

.name_heead{
    height: 200px;
    width: 300px;
    
    margin: auto;
}

.name_heead p{
    font-size: 50px;
    text-align: center;
    /* padding-top: 5px; */
    font-family: "Dancing Script", cursive;
}

.head_img{
    height: 300px;
    width: 100%;
    /* background: url("wed_img.png"); */
    background: url("../source/wed_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.head_text{
    height: 50px;
    width: 80%;
    
    margin: auto;
    margin-top: 240px;
}

.head_text p{
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
}

.head_text hr{
    width: 60%;
    background-color: black;
    height: 0.5px;
    border: 1px solid black;
    margin: auto;
    margin-top: 4px;
}


/* CONTENT */

.content{
    height: 780px;
    width: 100%;
    background-color: #272829;
    padding-top: 15px;
}

.content_text{
    height: 90%;
    width: 90%;
    margin: auto;
    
    
}

.content_text label{
    
}

.content_text p{
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    color: white;
    font-size: 28px;
    padding-top: 15px;
}

.b_date{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 54px;
    font-family: "Cormorant Garamond", serif;;
    
}

.p_name {
    font-size: 44px;
    color: white;
    font-family: "Great Vibes", cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    
}


/* LOCATION CONTENT */

.location{
    height: 720px;
    width: 100%;
    /* background-color: aqua; */
}

.inner_location {
    height: 100%;
    width: 80%;
    /* background-color: burlywood; */
    margin: auto;
}

.loc_head {
    height: 100px;
    width: 100%;
    /* background-color: azure; */
}

.loc_head p{
    padding-top: 10px;
    font-size: 46px;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
}

.loc_head span{
    
    font-size: 26px;
    font-family: "Pacifico", cursive;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    
}

.loc_img{
    height: 350px;
    width: 60%;
    background-color:#DDDDDD;
    margin-left: 42px;
    margin-top: 45px;
    transform: rotate(-18deg);
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
}

.loc_img_2{
    height: 350px;
    width: 75%;
    /* background-color:bisque; */
    margin: auto;
    position:relative;
    top: 44px;
    border-radius: 20px;
    
}

.loc_img_2 img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.text_loc_p{
    height: 150px;
    width: 100%;
    /* background-color: brown; */
    margin-top: 100px;
}

.text_loc_p p{
    text-align: center;
    font-size: 28px;
    font-family: "Cormorant Garamond", serif;
}
 .text_loc_p a{
    font-size: 26px;
    display: flex;
    justify-content: center;
    color: black;
    padding-top: 20px;
 }

 /* WEDDING CONTENT */


 .wedd_content {
    height: 770px;
    width: 100%;
    
 }

 .inner_wedd_content {
    height: 100%;
    width: 80%;
    
    margin: auto;
 }

 .inner_wedd_content hr{

    width: 80px;
    background-color: black;
    border: 1px solid black;
    transform: rotate(90deg);
    margin: auto;
    
    margin-top: 75px;
 }

 .inner_wedd_content p {
    padding-top: 42px;
    font-size: 44px;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
 }

 .inner_wedd_content span {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: "Cormorant Garamond", serif;
 }


 /* WEDDING FORM */

 .wedd_form{
    height: 600px;
    width: 100%;
    
 }

 .wedd_form_inner{
    height: 100%;
    width: 80%;
   
    margin: auto;
 }

 .form {
    height: 300px;
    width: 100%;
    
    padding-top: 10px;
    
 }

 .form input{
    margin-top: 15px;
    width: 99%;
    height: 40px;
    border: 1px solid black;
    border-radius: 16px;
 }

 .form input[type="checkbox"]{
    
    width: 10%;
    height: 40px;
    border: 1px solid black;
    border-radius: 16px;
 }

 .check{
    margin-top: 20px;
    display: flex;
    
    
    align-items: center;

 }

 .check label {
    margin-left: 15px;
    font-size: 21px;
    font-family: "Cormorant Garamond", serif;
    display: flex;
    align-items: center;
 }

 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Cormorant Garamond", serif;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;

    margin-left: 22%;
    margin-top: 20px;
 }

 @font-face {
    font-family: 'MADE TheArtist Script';
    src: local('MADE TheArtist Script'), local('MADETheArtistScript'), url('Madetheartistscript.woff2') format('woff2'), url('Madetheartistscript.woff') format('woff'), url('Madetheartistscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* WEDDING TIME */

.wed_time {
    height: 480px;
    width: 100%;
    /* background: url("weddi.jpg"); */
    background: url("../source/weddi.jpg");
    filter: brightness(80%);
    background-repeat: no-repeat;
    background-size:cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_time {
    height: 150px;
    width: 92%;
   
}

/* COUNTING TIME */

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
  }
   
  .countdown-item {
    margin: 0 20px;
    text-align: center;
    
  }
   
  .countdown-item span {
    display: block;
    font-size: 4em;
    font-family: "Cormorant Garamond", serif;
    color: white;
  }
   
  .label {
    font-size: 1em;
    
  }

  .countdown-item label{
    font-size: 1.5em;
    color: white;
    font-family: "Cormorant Garamond", serif;

  }

  .wedd_foot {
    height: 120px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wedd_foot p{
    color: white;
    font-size: 26px;
    font-family: "Cormorant Garamond", serif;
  }
